/* CSS files add styling rules to your content */

html,
body {
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
  overflow-x: hidden;
  background-color: #faf8f8;
}

/*navgiation bar*/
a {
  text-decoration: none;
  color: black;
}
a:visited {
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}
a:focus {
  text-decoration: n18e;
}
a:hover,
a:active {
  text-decoration: none;
}
.table-of-contents a {
  color: black;
  font-weight: 800;
  margin-right: 50px;
  float: right;
  padding: 0px -40px;
  margin-top: 50px;
  margin-bottom: 100px;
  text-decoration: none;
  font-size: 16px;
  font-family: filson-pro, sans-serif;
  font-weight: normal;
  
}

.table-of-contents a:hover {
  color: #91e0ff;
  border-bottom: 1px solid #91e0ff;
}

*/ .project-list {
  padding: 0;
}
.project-list li {
  list-style: none;
}

.title {
  margin-top: 100px;
}

.head{
  font-size: 64px;
}

.case-study {
  margin-left: 150px;
  margin-right: 150px;
  margin-top: 1em;
}

.case-study > * {
  margin-left: auto;
  margin-right: auto;
}

h1 {
  font-family: "New-Spirit";
  color: #91e0ff;
  font-size: 30px;
}

h2 {
  font-family: filson-pro, sans-serif;
  font-weight: normal;
  line-height: 1.6;
  font-size: 20px;
}

h3 {
  font-family: filson-pro, sans-serif;
  font-weight: bold;
  font-size: 18px;
}

.gallery img {
  max-width: 100%;
  display: block;
  height: auto;
  border-radius: 50px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  text-align: center;

}

.gallery1 img {
  max-width: 100%;
  display: block;
  height: auto;
}

.gallery2 img {
  max-width: 100%;
  display: block;
  height: auto;
}

.wrapper {
  background-color: white;
  border-radius: 40px;
  padding: 20px;
  margin-bottom: 30px;
  max-width: 100%;
  display: block;
  height: auto;
}

.wrapper2 {
  background-color: white;
  border-radius: 40px;
  padding: 20px;
  max-width: 100%;
  display: block;
  height: auto;
  margin-bottom: 30px;
  margin-top: 30px;
}

.head, .info{
  text-align: center;
}

mark.blue {
  color: #e5b2a5;
  background: none;
}

.section{
  margin-bottom: 100px;
  max-width: 100%;
  display: block;
  height: auto;
}

.feature img{
  max-width: 100%;
  display: block;
  height: auto;
}

.over img{
  max-width: 100%;
  display: block;
  height: auto;
  border-radius: 50px;
  width: 500px;
  margin-top: 100px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.guide img{
  max-width: 100%;
  display: block;
  height: auto;
  border-radius: 50px;
  width: 800px;
  margin-top: 100px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

